page-category {
	.categoryLane{
		/*overflow-x: scroll !important;*/
	}
	.tabCell{
		display: table-cell !important;
	}
	.categoryLane div ion-card{
		width: 140px !important;
		height: 150px !important;
		margin: 3px !important;
		float: left !important;
	}
	.categoryLane div ion-card ion-card-content h4{
		display: inline;
		white-space: nowrap;
	}
	.categoryLane div ion-card ion-card-content img{
		height: 70%;
		margin: auto !important;
	}
	.categoryLane div ion-card ion-card-content span{
		text-transform: uppercase;
		color: #7c7c7c;
		font-size: 9px;
	}
	.categoryTitle{
		margin-left: 10px !important;
		font-size: 12px !important;
		margin-bottom: 2px !important;
		text-align: left !important;
		color: #222 !important;
		text-transform: uppercase !important;
	}
	.cartCount{
		font-size: 10px;
		margin-left: -3px
	}
}
